<% title "Referrals" %>

<table>
  <tr>
    <th>Submitted</th>
    <th>Customer</th>
    <th>Case Manager</th>
    <th>Note</th>
    <% if current_user.admin? %>
      <th>Active</th>
    <% end %>
  </tr>
  <% for referral in @referrals %>
    <tr>
      <td><%= referral.created_at %></td>
      <td><%= referral.name %></td>
      <td><%= mail_to referral.case_manager_email, referral.case_manager_name %></td>
      <td><%= truncate referral.note %></td>
      <% if current_user.admin? %>
        <td><%= referral.active ? 'Yes' : 'No' %></td>
      <% end %>
      <td><%= link_to("UCR Form", referral.ucr_form.url) if referral.ucr_form.present? %></td>
      <td><%= link_to "Show", referral %></td>
      <td><%= link_to "Edit", edit_referral_path(referral) %></td>
      <td><%= link_to "Destroy", referral, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Referral", new_referral_path %></p>
