<% title "Referral" %>

<p>
  <strong>First Name:</strong>
  <%= @referral.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @referral.last_name %>
</p>
<p>
  <strong>Customer Phone:</strong>
  <%= @referral.customer_phone %>
</p>
<p>
  <strong>Case Manager Name:</strong>
  <%= @referral.case_manager_name %>
</p>
<p>
  <strong>Case Manager Email:</strong>
  <%= mail_to @referral.case_manager_email %>
</p>
<p>
  <strong>Note:</strong>
  <%= simple_format @referral.note %>
</p>
<% if current_user.admin? %>
  <p>
    <strong>Active:</strong>
    <%= @referral.active ? 'Yes' : 'No' %>
  </p>
<% end %>

<p>
  <% if @referral.ucr_form.present? %>
    <%= link_to "UCR Form", image_path(@referral.ucr_form.url) %>
  <% else %>
    (No UCR form uploaded)
  <% end %>
</p>

<p>
  <strong>Created:</strong>
  <%= @referral.created_at %> by <%= @referral.creator.username %>
</p>
<% if @referral.updated_at != @referral.created_at %>
  <p>
    <strong>Updated:</strong>
    <%= @referral.updated_at %> by <%= @referral.updater.username %>
  </p>
<% end %>

<p>
  <%= link_to "Edit", edit_referral_path(@referral) %> |
  <%= link_to "Destroy", @referral, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", referrals_path %>
</p>
